/* @media  (max-width: 520px) {
    main{ 
        width: 75%;
        flex-direction: column-reverse;
    }
    img{
        display: block;
    }
    .col{
        width: 100%;
        border: 1px solid black;
        height: auto;
        display: block;
    }
    /* column 1
    .col:first-child{
        width:  100%;
    }
    /* column 2 */
    /* .col:nth-child(2){
        width: 100%;
    }  */
    /* .col:first-child .bigimg{
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }  */


@media (max-width:640px) {
    main{
        
        grid-template-columns: repeat(1, 1fr);
    }

}